@(message:String)

@main("新規登録","新規登録画面","copyright 2019.") {
    <form action="/signUp" method="POST">
        <table border="1">
            <tr>
                <td>NAME</td><td><input type="text" name="roomName" required></td>
            </tr>
            <tr>
                <td>MAIL</td><td><input type="mail" name="mail" required></td>
            </tr>
            <tr>
                <td>PASS</td><td><input type="password" name="pass" required></td>
            </tr>
            <tr>
                <td>COMMENT</td><td><input type="text" name="comment" required></td>
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit"></td>
            </tr>
        </table>
    </form>
    @message
    <a href="/">topへ</a>
}